*{
    margin: 0;
    padding: 0;
}
img{
    width: 80px;
    height: 80px;
}

h1{
    text-align: center;
}
.textoNombreFruta{
    font-size: x-large;
}
.textoPrecio{
    font-size: larger;
}
#contenedorDerecha{
    float: right;
    width: 25%;
    height: 60%;
    overflow: scroll;
    text-align: center;
    border: 2px solid black;
}
#contenedorFrutas{
    float: left;
    width: 70%;
    margin: auto;
    overflow: hidden;
    height: 60%;
    text-align: center;
    margin-top: 10px;
}
.activa{
   background-color: aqua;
}
#contenedor{
    height: 1000px;
    overflow: hidden;   
}
#formulario{
    height: 40%;
    clear: both;
    width: 100%;
    margin-top: 50px;
}
#contenedorFrutas div{
    display: inline-block;
    height: auto;
    margin: 10px;
    margin-top: 5px;
}
#datos,#tarjeta,#pago{
    margin:10px;
    padding: auto;
    text-align: center;
}
form fieldset input {
    margin: 5px;
    text-align: center;
}
form {
    text-align: center;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }