img{
    width: 300px;
}

h1{
    text-align: center;
}
.textoNombreFruta{
    font-size: x-large;
}
.textoPrecio{
    font-size: larger;
}
#contenedorDerecha{
    float: right;
    width: 25%;
    height: 100%;
    overflow: hidden;
    margin-top: 80px;
    text-align: center;
    display: block;
}
#contenedorFrutas{
    float: left;
    width: 73%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.activa{
    color: red;
}

.parrafoFruta{
   color: black;
}